*.log
.qmlls.ini
state.json

# Hyprland local configs (not tracked by git)
hyprland/.config/hypr/local/*
!hyprland/.config/hypr/local/.gitkeep

hyprland/.config/uwsm/env.d/*
!hyprland/.config/uwsm/env.d/.gitkeep

# Local wallpapers (copied from .data/wallpapers/ on installation)
local/.local/wallpapers/*
!local/.local/wallpapers/.gitkeep

# Local themes (copied from .data/themes/ on installation)
local/.local/themes/*
!local/.local/themes/.gitkeep

# Monitor and workspace configs (machine-specific)
# These files are created by the installation script
# and can be edited by the user or by nwg-displays/workspace-manager
hyprland/.config/hypr/monitors.conf
hyprland/.config/hypr/workspaces.conf

