* {
  font-family: CaskaydiaCove Nerd Font;
  font-size: 17px;
}

window#waybar {
  background-color: rgba(36, 36, 36, 0.39);
  color: #ffffff;
  transition-property: background-color;
  transition-duration: 0.5s;
  border-radius: 8px;
  transition-duration: 0.5s;
  margin: 16px 16px;
}

window#waybar.hidden {
  opacity: 0.2;
}

#workspaces button {
  padding: 0 5px;
  color: rgb(94, 101, 122);
  background-color: transparent;
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each workspace name */
  border: none;
  border-radius: 8px;
}

#workspaces button.focused {
  color: #bf616a;
}

#workspaces button.active {
  color: #7d9bba;
}

#workspaces button.urgent {
  background-color: #98bce0;
}

#window {
  /* border-radius: 20px; */
  /* padding-left: 10px; */
  /* padding-right: 10px; */
  color: #64727d;
}

#clock,
#cpu,
#memory,
#disk,
#temperature,
#tray,
#mode,
#idle_inhibitor,
#mpd,
#custom-hyprPicker,
#custom-power-menu,
#custom-mediaplayer {
  padding: 0 6px;
  color: #e5e5e5;
  /* color: #bf616a; */
  border-radius: 9.5px;
  /* background-color: #1f2530; */
}

#window,
#workspaces {
  margin: 0 4px;
  border-radius: 7.8px;
  /* background-color: #1f2530; */
}

#cpu {
  color: #fb958b;
  /* background-color: #1f2530; */
}

#memory {
  color: #ebcb8b;
  /* background-color: #1f2530; */
}

#custom-power-menu {
  color: #7d9bba;
  border-radius: 9.5px;
  /* background-color: #1b242b; */
  border-radius: 7.5px;
  padding: 0 0 0 10px;
}

#custom-launcher {
  /* background-color: #1b242b; */
  color: #7d9bba;
  border-radius: 7.5px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#wireplumber {
  color: #7d9bba;
}

#clock {
  color: #c8d2e0;
  padding: 0 15px 0 0;
  /* background-color: #14141e; */
}

#battery {
  color: #7d9bba;
  /* background-color: #90b1b1; */
}

@keyframes blink {
  to {
    background-color: rgba(30, 34, 42, 0.5);
    color: #abb2bf;
  }
}

#battery.critical:not(.charging) {
  color: #f53c3c;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: #000000;
}

#disk {
  background-color: #7d9bba;
}

#bluetooth {
  color: #7d9bba;
  padding-right: 7px;
}

#bluetooth.disconnected {
  color: #7d9bba;
}

#network {
  color: #7d9bba;
  padding-right: 2px;
}

#network.disconnected {
  color: #7d9bba;
}

#custom-space {
  color: #7d9bba;
}

#temperature {
  background-color: #f0932b;
}

#temperature.critical {
  background-color: #eb4d4b;
}

#hub-expander {
  color: #7d9bba;
}

#tray-expander {
  color: #7d9bba;
  /* opacity: 0; */
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#idle_inhibitor {
  background-color: #2d3436;
}

#idle_inhibitor.activated {
  background-color: #ecf0f1;
  color: #2d3436;
}

#mpd {
  color: #2a5c45;
}

#mpd.disconnected {
  color: #f53c3c;
}

#mpd.stopped {
  color: #90b1b1;
}

#mpd.paused {
  color: #51a37a;
}

#language {
  background: #00b093;
  color: #740864;
  padding: 0 5px;
  margin: 0 5px;
  min-width: 16px;
}

#keyboard-state {
  background: #97e1ad;
  color: #000000;
  padding: 0 0px;
  margin: 0 5px;
  min-width: 16px;
}

#keyboard-state > label {
  padding: 0 5px;
}

#custom-mediaplayer {
  padding: 0 10px;
  margin: 0 4px;
  /* background-color: #1db954; */
  color: #c3c9d4;
}

#keyboard-state > label.locked {
  background: rgba(0, 0, 0, 0.2);
}
